body {
    background: #ffffff;
    color: #000000;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
    margin-bottom: 0;
  }
   
  .bg-steel {
    background-color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #000000;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color:  #a3a3a3;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
  }
  
  .article-title {
    color: #000000;
  }
  
  a.article-title:hover {
    color: #a3a3a3;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 8px;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .btn-info {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
  }

  .navbar-dark .navbar-brand {
    color: #000000;
  }

  .navbar-dark:hover .navbar-brand:hover {
    color: #a3a3a3;
  }

  .btn-primary {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
  }

  .btn-primary:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
  }

  .btn-danger {
    color: #dc3545;
    background-color: #ffffff;
    border-color: #dc3545;
  }

  .btn-danger:hover {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-secondary {
    color: #6c757d;
    background-color: #ffffff;
    border-color: #6c757d;
  }

  .btn-secondary:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
  }

  .btn-secondary a:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
  }

  .btn-info {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
  }

  .btn-info:hover {
    color: #ffffff;
    background-color: #616060;
    border-color: #616060;
  }